@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Monomaniac+One&display=swap');

body {
    background-color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header .logo {
    font-family: "Monomaniac One";
    font-weight: 100;
    font-size: 4rem;
    padding: 2rem;
    padding-left: 3rem;
    background-color: white;
}

main {
    text-align: center;
}

main nav {
    background: linear-gradient(0deg, whitesmoke 0%, whitesmoke 90%, #ffa000 10%, #ffa000 100%);
}

main nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

main ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.25s;
}

main nav ul li {
    margin: 0.5rem;
    font-size: 2rem;
}

main nav ul li a:hover {
    color: #ffa000;
}